/** Styling below is for the news articles */

.article-container{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    gap: 10vh;
    margin: 10vh 10vw 20vh 10vw;
}

.article{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    background: white;
}

.article-image{
    width: 100%;
}

.aticle-items{
    font-size: 18px;
    font-weight:280;
    line-height: 2em;
    color: #000000;
    list-style: none;
    margin: 40px 25px 25px 25px;
}

/** Styling below is for the error text */

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20vw;
}

/** Styling below is for screens between 768px and 1200px*/

@media screen and (min-device-width: 768px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .article-container{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 10vh;
    margin: 10vw 10vw 20vw 10vw;
}

.article{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    background: white;
}

.article-image{
    width: 100%;
}

.aticle-items{
    font-size: 18px;
    font-weight:280;
    line-height: 2em;
    color: #000000;
    list-style: none;
    margin: 40px 25px 25px 25px;
  }

  #error-text {
      font-size: 2rem;
  }

  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 26em;
    padding-bottom: 26em;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 3) { 
    .article-container{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        gap: 10vh;
        margin: 7vw 5vw 10vw 5vw;
    }
    
    .article{
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
        background: white;
    }
    
    .article-image{
        width: 100%;
    }
    
    h5 {
        font-size: 14px;
    }

    .aticle-items{
        font-size: 12px;
        font-weight: 280;
        line-height: 2em;
        color: #000000;
        list-style: none;
        margin: 40px 25px 25px 25px;
      }

      .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 10em;
        padding-bottom: 10em;
        }
  }