.article-container{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    gap: 10vh;
    margin: 10vh 10vw 20vh 10vw;
}

.article{
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);
    background: white;
}

.article-image{
    width: 100%;
}

.aticle-items{
    font-size: 18px;
    font-weight:280;
    color: #000000;
    list-style: none;
    margin: 40px 25px 25px 25px;
}