.nav {
    background-color: #7B7B7B;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: white;
    
    text-decoration: none;
    opacity: 49%;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/* @media screen and (max-width: 960px) {
    .nav{
        position: absolute;
        width: 100%;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1080px;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.1s;
    }
    .nav-menu.active {
        background: #7B7B7B;
        left: 0;
        opacity: 1;
        transition: all 0.1s;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #888888;
        border-radius: 0;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: white;
        font-size: 2rem;
    }
} */