.footer{
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 25em;
    z-index: 100;
    background: #3b4250;
}

.footer-ul{
    position: relative;
    top: 3.5em;
    font-weight: lighter;
    font-size: 18px;
    color: white;
    padding: 7vh 0 0 5vw;
    list-style: none;
}

.footer-li{
    padding-bottom: 5px;
}

.disclaimer{
  color: #fff;
  font-size: 12px;
  padding-top: 15em;
  padding-left: 8em;
}

#footer-logo{
    position: relative;
    float: right;
    bottom: 5em;
    margin-right: 3em;
    width: 15%;
}

/** Styling below is for 13" - 15" */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .footer{
        position: absolute;
        margin-top: auto;
        width: 100%;
        height: 22em;
        z-index: 100;
        background: #3b4250;
    }

    .disclaimer{
      color: #fff;
      font-size: 12px;
      padding-top: 10em;
      padding-left: 6em;
    }

    #footer-logo{
        position: relative;
        float: right;
        bottom: 4em;
        margin-right: 3em;
        width: 15%;
    }
  }

  /** Styling below is for screens between 768px and 1200px*/

@media screen and (min-device-width: 768px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .footer{
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 22em;
    z-index: 100;
    background: #3b4250;
  }

  .disclaimer{
    color: #fff;
    font-size: 12px;
    padding-top: 8em;
    padding-left: 3em;
  }

  #footer-logo{
    position: relative;
    float: right;
    bottom: 3em;
    margin-right: 1em;
    width: 22%;
  }
}

/** Styling below is for screens between 375px and 768px */
@media only screen and (min-device-width: 375px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 3) { 
  .footer{
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 22em;
    z-index: 100;
    background: #3b4250;
  }

  .disclaimer{
    color: #fff;
    font-size: 10px;
    padding-top: 21em;
    padding-left: 4em;
    padding-right: 4em;
  }

  #footer-logo{
    position: relative;
    right: 4.5em;
    top: 5em;
    margin-right: 1em;
    width: 50%;
  }

  .footer-ul{
    position: relative;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    padding: 0 0 0 2em;
    list-style: none;
  }

}
