#about-image {
  width: 100%;
}

/** Style below is for slogan container */

.text-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15em;
  z-index: 100;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

#slogan {
  color: #6b6b6b;
  font-size: 1.5rem;
  font-weight: 280;
}

/** Style below is for what we do and history */

.what-and-history-container {
  width: 70%;
  padding: 15em 15em 15em 8em;
}

.what-we-do {
  color: #6b6b6b;
  font-weight: 280;
  padding-top: 10px;
  line-height: 2em;
}

.history {
  padding-top: 10px;
  color: #6b6b6b;
  font-weight: 280;
  line-height: 2em;
}

#founder-image {
  position: relative;
  width: 37%;
  top: 17em;
  float: right;
  margin-right: 3vw;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

/** For MacBook 13" */

@media print and (max-resolution: 227dpi) {
  #founder-image {
    position: relative;
    top: 15vh;
    margin: 0 25vw 0 25vw;
    width: 50%;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  .what-and-history-container {
    margin: 0;
    width: 100%;
    padding: 75vh 20vw 10vw 20vw;
  }

  .what-we-do {
    color: #6b6b6b;
    font-weight: 280;
    padding-top: 10px;
    line-height: 2em;
  }

  .history {
    padding-top: 10px;
    color: #6b6b6b;
    font-weight: 280;
    line-height: 2em;
  }
}

/** Styling below is for screens smaller than 1400px */

@media only screen and (max-width: 1400px) {
  #founder-image {
    position: relative;
    top: 8em;
    margin: 0 25% 0 25%;
    width: 50%;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  .what-and-history-container {
    margin: 0;
    width: 100%;
    padding: 35em 20em 20em 20em;
  }

  .what-we-do {
    color: #6b6b6b;
    font-weight: 280;
    padding-top: 10px;
    line-height: 2em;
  }

  .history {
    padding-top: 10px;
    color: #6b6b6b;
    font-weight: 280;
    line-height: 2em;
  }
}
