body {
  background-color: #eeeeee;
}

/**Styling below for history*/

#history-container {
  width: 100%;
}

#homescreen-logo {
  /*position: relative;*/
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

#container-text {
  position: relative;
  right: 18em;
  bottom: 19em;
  width: 51.5em;
}

.history-title {
  color: #6b6b6b;
  padding-left: 1vw;
  font-weight: 280;
}

.history-text {
  color: #6b6b6b;
  padding: 1vw;
  font-weight: 280;
  line-height: 2em;
}

#founder {
  position: relative;
  left: 38em;
  width: 70%;
  top: 5em;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

/** Styling below is for what the company does */

#information-container {
  position: relative;
  bottom: 5em;
  width: 100%;
}

#information-image {
  position: relative;
  width: 70%;
  right: 17em;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

#what-we-do {
  position: relative;
  width: 40em;
  left: 37em;
  bottom: 19em;
  font-weight: 280;
  line-height: 2em;
}

/** Styling below is for screens smaller than 1400px */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    margin: 0 25% 0 25%;
    width: 50%;
  }

  #container-text {
    position: relative;
    right: 4em;
    bottom: 23em;
    width: 50%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.45em;
    font-weight: 280;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 32em;
    width: 60%;
    top: 4vh;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    bottom: 10em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 70%;
    right: 4em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    position: relative;
    width: 40%;
    left: 46em;
    bottom: 19em;
    font-weight: 280;
    line-height: 2em;
  }
}

/** ipad pro landscape mode*/
/* @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape)  and (-webkit-min-device-pixel-ratio: 1.5) {
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    margin: 0 25% 0 25%;
    width: 50%;
  }

  #container-text {
    position: relative;
    right: 4em;
    bottom: 3em;
    width: 50%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.45em;
    font-weight: 280;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 10em;
    width: 70%;
    top: 0.1em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    bottom: 3em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 70%;
    right: 10em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    width: 40%;
    left: 46em;
    font-weight: 280;
    line-height: 2em;
  }
} */

/** ipad pro portrait mode*/
/* @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 1.5) {
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    margin: 0 25% 0 25%;
    width: 50%;
  }

  #container-text {
    position: relative;
    right: 4em;
    bottom: 3em;
    width: 50%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.45em;
    font-weight: 280;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 10em;
    width: 70%;
    top: 0.1em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    bottom: 3em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 70%;
    right: 10em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    width: 40%;
    left: 46em;
    font-weight: 280;
    line-height: 2em;
  }
} */
