body {
  background-color: #eeeeee;
}

/**Styling below for history*/

#history-container {
  width: 100%;
}

#homescreen-logo {
  /*position: relative;*/
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

#container-text {
  position: relative;
  right: 18em;
  bottom: 19em;
  width: 51.5em;
}

.history-title {
  color: #6b6b6b;
  padding-left: 1vw;
  font-weight: 280;
}

.history-text {
  color: #6b6b6b;
  padding: 1vw;
  font-weight: 280;
  line-height: 2em;
}

#founder {
  position: relative;
  left: 38em;
  width: 70%;
  top: 5em;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

/** Styling below is for what the company does */

#information-container {
  position: relative;
  bottom: 5em;
  width: 100%;
}

#information-image {
  position: relative;
  width: 70%;
  right: 17em;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
}

#what-we-do {
  position: relative;
  width: 40em;
  left: 37em;
  bottom: 19em;
  font-weight: 280;
  line-height: 2em;
}

/** Styling below is for screens smaller than 1400px */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    margin: 0 25% 0 25%;
    width: 50%;
  }

  #container-text {
    position: relative;
    right: 4em;
    bottom: 23em;
    width: 50%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.45em;
    font-weight: 280;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 32em;
    width: 60%;
    top: 4vh;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    bottom: 10em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 70%;
    right: 4em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    position: relative;
    width: 40%;
    left: 46em;
    bottom: 19em;
    font-weight: 280;
    line-height: 2em;
  }
}

/** Styling below is for screens between 768px and 1200px*/

@media screen and (min-device-width: 768px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    margin: 0 25% 0 25%;
    width: 50%;
  }

  #container-text {
    position: relative;
    left: 2em;
    bottom: 0.1em;
    width: 90%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.45em;
    font-weight: 280;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 6.5em;
    width: 70%;
    top: 1em;
    margin-bottom: 5em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    top: 5em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 70%;
    left: 6.5em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    position: relative;
    width: 90%;
    left: 2em;
    bottom: 1em;
    padding-top: 5em;
    padding-bottom: 10em;
    font-weight: 280;
    line-height: 2em;
  }
}

/** Styling below is for screens between 375px and 768px */
@media only screen and (min-device-width: 375px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 3) { 
  #history-container {
    width: 100%;
  }

  #homescreen-logo {
    width: 70%;
    margin-left: 15%;
  }

  #container-text {
    position: relative;
    left: 0.1em;
    bottom: 3em;
    width: 100%;
  }

  .history-title {
    color: #6b6b6b;
    padding-left: 0.5em;
    font-weight: 280;
    font-size: 1.3rem;
  }

  .history-text {
    color: #6b6b6b;
    padding: 0.9em;
    font-weight: 280;
    font-size: 0.8rem;
    line-height: 2em;
  }

  #founder {
    position: relative;
    left: 1em;
    width: 90%;
    top: 0.1em;
    margin-bottom: 5em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #information-container {
    position: relative;
    top: 1em;
    width: 100%;
  }

  #information-image {
    position: relative;
    width: 90%;
    left: 1.2em;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  }

  #what-we-do {
    position: relative;
    width: 100%;
    left: 0.1em;
    bottom: 3em;
    padding-top: 5em;
    padding-bottom: 3em;
    font-weight: 280;
    line-height: 2em;
  }
}
